<div class="login-form">
  <div class="login-card">
    <h3>Login</h3>
    <form>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><button id="log-in" type="submit">Login</button></div>
    </form>
  </div>
  <div class="login-card">
    <h3>Sign Up</h3>
    <form>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><button id="sign-up" type="submit">Sign Up</button></div>
    </form>
  </div>
</div>