<div class="login-form">
  <div class="login-card">
    <h3>Login</h3>
    <form>
      <div><label for="email-login">Email: </label><input id="email-login" type="text"></div>
      <div><label for="password-login">Password: </label><input id="password-login" type="text"></div>
      <div><button id="log-in" type="submit">Login</button></div>
    </form>
  </div>
  <div class="login-card">
    <h3>Sign Up</h3>
    <form>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><label for=""></label><input type="text"></div>
      <div><button id="sign-up" type="submit">Sign Up</button></div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>